<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="/static/css/input.css"/>
    <style>
        span{
            margin-right: 8px;
        }
    </style>
</head>
<body>
<h4>Please login</h4>
<div class="row">
    <div class="col-md-2">
        <form action="/admin/admin/login" method="POST">
            <div class="form-group">
                <span>账号:</span><input class="form-control" type="text" name="name"/>
            </div>
            <div class="form-group">
                <span>密码:</span><input class="form-control" type="password" name="pwd"/>
            </div>
            <hr color="#000" width="10.5%" align="left">
            <p id="d"></p>
            <input class="btn btn-default" type="submit"、>
        </form>
    </div>
</div>
</body>
</html>